<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/common/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/order.css' %}">
    <link rel="stylesheet" href="{% static 'css/common/subBar.css' %}">
    <link rel="stylesheet" href="{% static 'css/common/navBar.css' %}">
</head>
<body>
    <div>
        <div id="background" style="position:absolute; width:100%; height:100%; background-color: snow; z-index:-1" >
            <img src="{% static 'images/background2.png' %}" height="100%" width="100%">
        </div>
        <div id="subBar">
            <a href="#">
                <img src="{% static 'images/logo2.png' %}" class="logo">
            </a>
            <div class="message">
                <p>欢迎您:deardoor</p>
                <p>会员等级:1</p>
                <p>手机号:</p>
                <p>12345654321</p>
            </div>
            <form action="" method="post">
            {% csrf_token %}
                <ul class="action">
                    <li><button name="ordered"><span class="iconfont">&#xe73d;</span></button>已点</li>
                    <li><button name="menu"><span class="iconfont">&#xe644;</span></button>菜单</li>
                    <li><button name="score"><span class="iconfont">&#xe603;</span></button>评分</li>
                    <li><button name="exit"><span class="iconfont">&#xe60c;</span></button>退出</li>
                </ul>
            </form>
        </div>
        <div id="navBar">
            <form action="" method="post">
                {% csrf_token %}
              <ul class="navWrap">
                <li class="active">
                    <button name="c1"><span class="iconfont">&#xe642;</span></button>
                    <span class="text">一食堂</span>
                </li>
                <li>
                    <button name="c2"><span class="iconfont">&#xe642;</span></button>
                    <span class="text">二食堂</span>
                </li>
                <li>
                    <button name="market"><span class="iconfont">&#xe623;</span></button>
                    <span class="text">小卖部</span>
                </li>
            </ul>
            </form>
        </div>
        <div id="content">
            <ul class="foodlist">
                <form action="" method="post">
                {% csrf_token %}
                    <li>
                        <img src="{% static 'images/food2.png' %}" alt="">
                        <div class="bar">
                            <h3>美味牛扒</h3>
                            <p>
                                <span class="price">￥38/份</span>
                                <button name="id2"><span class="iconfont">&#xe726;</span></button>
                            </p>
                        </div>
                    </li>
                    <li>
                        <img src="{% static 'images/food4.png' %}" alt="">
                        <div class="bar">
                            <h3>红糖糍粑</h3>
                            <p>
                                <span class="price">￥15/份</span>
                                <button name="id4"><span class="iconfont">&#xe726;</span></button>
                            </p>
                        </div>
                    </li>
                    <li>
                        <img src="{% static 'images/food5.png' %}" alt="">
                        <div class="bar">
                            <h3>北京烤鸭</h3>
                            <p>
                                <span class="price">￥68/份</span>
                                <button name="id5"><span class="iconfont">&#xe726;</span></button>
                            </p>
                        </div>
                    </li>
                    <li>
                        <img src="{% static 'images/food7.png' %}" alt="">
                        <div class="bar">
                            <h3>清蒸螃蟹</h3>
                            <p>
                                <span class="price">￥48/份</span>
                                <button name="id7"><span class="iconfont">&#xe726;</span></button>
                            </p>
                        </div>
                    </li>
                </form>
            </ul>
        </div>
    </div>
</body>
</html>